.idea
FYERS_MyAPI.postman_collection.json
mycode
TrueData--Fyers.zip
*.txt
__pycache__
src/fyers_api/fyersLog.py
src/fyers_api/websocket/test.py
src/test1.py
src/fyers_api/websocket/fyers_socket.log
/src/.ipynb_checkpoints/
