anyio==3.3.0
asgiref==3.4.1
asyncio==3.4.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
fastapi==0.68.1
fyers-apiv2==2.0.4
h11==0.12.0
idna==2.10
pydantic==1.8.2
requests==2.25.1
sniffio==1.2.0
starlette==0.14.2
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.15.0
websockets==8.1
